/* Google Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Chakra+Petch:wght@300&family=Oswald:wght@600&family=Darker+Grotesque:wght@500&family=Maven+Pro:wght@400;500;600&family=Racing+Sans+One&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Maven Pro", sans-serif;
}

/* Header */
header {
    background-color: rgb(224 227 227);
    position: fixed;
    z-index: 99;
    width: 100%;
    height: fit-content;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 0 2px 12px 4px #262724;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: "Oswald", sans-serif;
    padding-left: 8px;
    padding-top: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 23px;
    color: black;
}

header h2 {
    padding-left: 64px;
    padding-bottom: 12px;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    font-size: 22px;
    color: black;
}

header>a {
    text-decoration: none;
    color: #3a3a3a;
}

/* Navbar */
nav {
    background-color: rgb(224 227 227);
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
}

nav form {
    margin-top: 12px;
}

nav li {
    list-style-type: none;
}

/* Navbar drop down menu */
#navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    padding-right: 12px;
    font-size: 40px;
}

#navbar-toggle:checked~nav {
    display: block;
    font-size: 2rem;
}

/* Navbar Buttons */
#about {
    background-color: rgb(28 112 209);
    color: #ffffff;
    padding: 6px 35px 6px 30px;
    box-shadow: 2px 2px 2px 1px #3a3a3a;
    margin-top: 20px;
    margin-left: 36px;
    border-radius: 5px;
    border: solid;
    border-color: #62bbff;
    border-style: groove;
}

#how-it-works {
    background-color: rgb(127 118 26);
    color: #ffffff;
    padding: 6px 10px 6px 10px;
    box-shadow: 2px 2px 2px 1px #3a3a3a;
    margin-left: 36px;
    border-radius: 5px;
    border: solid;
    border-color: #afaf14;
    border-style: groove;
}

#sign-up {
    background-color: rgb(26 113 9);
    color: #ffffff;
    padding: 6px 26px 6px 27px;
    box-shadow: 2px 2px 2px 1px #3a3a3a;
    margin-left: 36px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid;
    border-color: #72af4f;
    border-style: groove;
}

/* Button feedback */
.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(243, 240, 240);
}

button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(243, 240, 240);
}

/* Index Page Main Content */
main {
    background-color: rgb(39, 38, 38);
    color: #ffffff;
    /* make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    /* Push Main content down in line with headers bottom margin */
    margin-top: 68px;
    display: flex;
    flex-direction: column;
}

#hero {
    height: 300px;
    width: 100%;
    background: url("../images/hero1.webp") no-repeat center center/cover;
    border-color: black;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 20px 0px;
    color: rgb(181 153 0);
    border: 4px solid;
}

#cover-text {
    background-color: rgb(89 84 84 / 76%);
    font-size: 120%;
    position: absolute;
    bottom: 18px;
    left: 15px;
    color: #e9e949;
    height: 45px;
    width: 200px;
    font-family: "Oswald", sans-serif;
    padding-left: 3px;
    box-shadow: 2px 2px 14px 4px;
}

#trials-logo {
    height: 150px;
    width: 100%;
    background: url("../images/trials-logo.png") no-repeat center center;
    background-size: contain;
}

#about-us {
    text-align: center;
    font-size: 11.5px;
    margin: 0 20% 40px 20%;
    color: #b7bb0ed1;
}

#about-us-info {
    margin-bottom: 100px;
    font-size: 12px;
    justify-content: space-evenly;
    text-align: center;
    gap: 7%;
    list-style-type: circle;
    display: inline-grid;
    margin-top: 20px;
}

#about-us-info ul {
    text-align: left;
    padding-left: 15px;
    display: grid;
    gap: 20px;
}

#who-we-are {
    color: rgb(94 162 239);
    text-decoration: underline;
    padding-bottom: 42px;
    padding-top: 15px;
}

#what-we-offer {
    color: #c9c707;
    text-decoration: underline;
    padding-bottom: 42px;
    padding-top: 15px;
}

#prices {
    color: rgb(55 187 29);
    text-decoration: underline;
    padding-bottom: 42px;
    padding-top: 15px;
}

/* Index page icons*/
.fa-hand-holding-dollar:before {
    font-size: 17px;
    color: rgb(55 187 29);
}

.fa-user:before {
    font-size: 17px;
    color: rgb(94 162 239);
}

.fa-gift:before {
    font-size: 17px;
    color: #c9c707;
}

.fa-brands.fa-discord {
    font-size: 50px;
    color: rgb(82 93 255);
    padding-bottom: 30px;
}

/* Index page discord link */
#about-us-discord-link {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
    font-size: 12px;
}

#about-us-discord-link h3 {
    font-weight: 900;
    color: #34a1f1;
    text-decoration: underline;
    padding-top: 10px;
}

#about-us-discord-link h3:hover {
    color: #38cc1a;
}

/* How It Works Header */
#how-it-works-header {
    box-shadow: 0 2px 18px 6px #6ca6ff;
}

/* How It Works Main */
#hero2 {
    height: 350px;
    width: 100%;
    background: url("../images/hero2.webp") no-repeat center center/cover;
    border: solid;
    border-color: black;
    position: relative;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 1px 1px 20px 11px;
    color: rgb(83 121 165);
}

#hero2 h2 {
    display: none;
}

#how-it-works-info {
    margin-bottom: 100px;
    font-size: 12px;
    justify-content: space-evenly;
    text-align: center;
    gap: 10%;
    list-style-type: circle;
    display: inline-grid;
    padding-top: 100px;
}

#how-it-works-info a {
    text-decoration: underline;
    color: #22a8d1;
}

#how-it-works-info a:hover {
    color: #28ce5a;
}

#how-it-works-info ul {
    text-align: left;
    padding-left: 15px;
    display: inline-grid;
    gap: 20px;
}

#join-our-discord {
    color: rgb(94 162 239);
    text-decoration: underline;
    padding-bottom: 40px;
    padding-top: 15px;
}

#talk-to-sherpa {
    color: #c9c707;
    text-decoration: underline;
    padding-bottom: 40px;
    padding-top: 15px;
}

#join-up {
    color: rgb(55 187 29);
    text-decoration: underline;
    padding-bottom: 40px;
    padding-top: 15px;
}

/* How it works icons */
.fa-solid.fa-door-open {
    font-size: 15px;
    color: rgb(94 162 239);
}

.fa-solid.fa-comments {
    font-size: 15px;
    color: #c9c707;
}

.fa-solid.fa-desktop {
    font-size: 15px;
    color: rgb(55 187 29);
}

.fa-solid.fa-house-chimney {
    color: rgb(94 162 239);
    padding-top: 20px;
    padding-bottom: 15px;
}

.fa-solid.fa-handshake {
    color: rgb(55 187 29);
    padding-bottom: 15px;
}

/* How it works video and reviews */
#discord-visuals {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
}

#discord-video {
    color: rgb(94 162 239);
    text-decoration: underline;
}

#discord-video h3 {
    padding-bottom: 50px;
}

#reviews-title {
    color: rgb(55 187 29);
    text-decoration: underline;
    text-align: center;
    margin-bottom: 60px;
}

#discord-reviews {
    margin-top: 100px;
    display: block;
    align-self: center;
}

#review-photos img {
    width: 100%;
    height: 100%;
    line-height: 2em;
    margin-bottom: 20px;
    padding: 0 10px;
    box-shadow: 3px 3px 20px 16px #484941;
}

#review-photos {
    max-width: 1000px;
    margin-bottom: 60px;
}

iframe {
    width: 300px;
    height: 200px;
}

/* Sign Up Header */
#sign-up-header {
    box-shadow: 0 2px 20px 20px #0c0c0cad;
}

/* Sign up Main */
#sign-up-main {
    background-color: rgb(39, 38, 38);
    color: #ffffff;
    flex: 1 0 auto;
}

#hero3 {
    height: 350px;
    width: 100%;
    background: url("../images/hero3.jpg") no-repeat center center/cover;
    border: solid;
    position: relative;
    display: flex;
    margin-bottom: 100px;
    box-shadow: 1px 1px 20px 0px;
    color: rgb(188 90 199);
}

#sign-up-form {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#sign-up-form h3 {
    display: none;
}

#sign-up-form form {
    display: inline-grid;
    text-align: center;
    gap: 25px;
    box-shadow: 0 0 20px 11px #496485;
    border: groove;
    border-color: #5b562f;
    padding: 25px 25px 40px 25px;
    text-transform: uppercase;
}

#cover-text2 {
    background-color: rgb(89 84 84 / 76%);
    font-size: 130%;
    position: absolute;
    bottom: 18px;
    left: 15px;
    color: #d877ff;
    height: 45px;
    width: 180px;
    font-family: "Oswald", sans-serif;
    padding-left: 3px;
    box-shadow: 2px 2px 14px 4px;
}

#sign-up-info h3 {
    padding-bottom: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #b38af3;
    font-size: 17px;
}

div#sign-up-info {
    padding: 50px 10%;
    text-align: center;
}

#sign-up-discord-link {
    text-align: center;
    padding-top: 30px;
}

#sign-up-discord-link h3 {
    padding-bottom: 50px;
    color: #6996ff;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: underline;
}

#sign-up-discord-link a {
    text-decoration: none;
}

#sign-up-discord-link h3:hover {
    color: #01b151;
}

#submit-button {
    background-color: #5884b9;
    color: #080708;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: #28ce5a;
    color: #ffffff;
    text-decoration: underline;
}

input {
    border-radius: 5px;
}

/* form feedback Main */
#hero4 {
    height: 250px;
    width: 100%;
    background: url("../images/hero4.jpg") no-repeat center center/cover;
    border: solid;
    border-color: black;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 20px 11px;
    color: rgb(83 121 165);
}

#hero4 h3 {
    display: none;
}

#header-form-feedback {
    box-shadow: 0 2px 20px 20px #1c171e;
}

#cover-text3 {
    background-color: rgb(89 84 84 / 76%);
    font-size: 25px;
    position: absolute;
    bottom: 18px;
    left: 15px;
    color: #81a3e7;
    height: 45px;
    width: 180px;
    font-family: "Oswald", sans-serif;
    padding-left: 3px;
    box-shadow: 2px 2px 14px 4px;
}

#thankyou {
    text-align: center;
    padding: 50px 20px 0px 20px;
}

#thankyou h3 {
    padding-bottom: 20px;
    font-size: 20px;
    color: #da65e0;
}

#thankyou p {
    font-size: 15px;
    color: #7fcfff;
}

#thankyou-p1 {
    padding-bottom: 20px;
}

#thankyou-p2 {
    font-family: sans-serif;
}

/* Footer */
footer {
    background-color: rgb(224 227 227);
    color: black;
}

#contact-us {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    list-style-type: none;
    padding: 10px 20% 10px 20%;
}

/* Footer icons*/
.fa-brands.fa-twitter {
    color: #1b4793;
}

.fa-brands.fa-youtube {
    color: #b82828;
}

.fa-brands.fa-facebook {
    color: #1754e1;
}

/* Responsive Design for large phones and larger */
@media screen and (min-width: 400px) {
    iframe {
        width: 350px;
        height: 250px;
    }
}

/* Responsive Design for Tablets and larger */
@media screen and (min-width: 768px) {

    /* Header */
    header h1 {
        font-size: 30px;
        padding-top: 10px;
    }

    header h2 {
        font-size: 28px;
        padding-left: 75px;
    }

    header>a {
        padding-left: 50px;
    }

    /* Navbar */
    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #navbar {
        padding: 65px 20px 5px 0;
        display: flex;
    }

    .navbar-toggle-label {
        display: none;
    }

    /* Navbar buttons */
    #about {
        margin: 0;
    }

    #how-it-works {
        margin-left: 10px;
    }

    #sign-up {
        margin-left: 10px;
    }

    /* Index Page Main */
    main {
        /* Push Main content down for increase size in header */
        margin-top: 100px;
    }

    #about-us {
        font-size: 18px;
    }

    #about-us-info {
        font-size: 12px;
        justify-content: center;
        display: flex;
        gap: 0;
    }

    #about-us-info>div {
        padding: 0 20px;
    }

    #intro {
        padding-left: 35px;
    }

    /* How it works Main */
    #how-it-works-info {
        font-size: 12px;
        justify-content: center;
        display: flex;
        gap: 0;
        margin-top: 50px;
    }

    #how-it-works-info>div {
        padding: 0 20px;
    }

    #trials-logo2 {
        margin-top: 400px;
    }

    #review-photos {
        margin-bottom: 130px;
    }

    #review-photos img {
        padding: 0 20px;
    }

    h3 {
        padding-bottom: 25px;
    }

    iframe {
        width: 500px;
        height: 300px;
    }

    /* sign up Main */
    #sign-up-info h3 {
        font-size: 22px;
        padding-bottom: 50px;
    }

    #sign-up-info p {
        font-size: 18px;
    }

    /*form feedback main */
    #cover-text3 {
        font-size: 40px;
        bottom: 15px;
        left: 15px;
        height: 50px;
        width: 350px;
        padding-left: 20px;
        padding-bottom: 60px;
    }

    #thankyou h3 {
        font-size: 40px;
    }

    #thankyou p {
        font-size: 20px;
    }
}

/* Responsive Design for Laptops and larger */
@media screen and (min-width: 992px) {

    /* Header */
    header h1 {
        font-size: 48px;
        padding-left: 40px;
    }

    header h2 {
        font-size: 40px;
        padding-left: 160px;
    }

    /* Navbar */
    #navbar {
        padding: 105px 40px 5px 0;
    }

    /* Index page Main */
    main {
        /* Push Main content down for increase size in header */
        margin-top: 156px;
    }

    #cover-text {
        font-size: 250%;
        bottom: 18px;
        left: 15px;
        height: 50px;
        width: 310px;
        padding-left: 5px;
        padding-bottom: 55px;
    }

    #trials-logo {
        height: 200px;
    }

    #who-we-are {
        font-size: 25px;
    }

    #what-we-offer {
        font-size: 25px;
    }

    #prices {
        font-size: 25px;
    }

    .fa-discord:before {
        font-size: 70px;
    }

    .fa-hand-holding-dollar:before {
        font-size: 22px;
    }

    .fa-user:before {
        font-size: 22px;
    }

    .fa-gift:before {
        font-size: 22px;
    }

    #about-us {
        margin-bottom: 80px;
        margin-top: 20px;
    }

    #about-us-info {
        font-size: 14px;
    }

    #about-us-info>div {
        padding: 0 50px;
    }

    #about-us-discord-link h3 {
        font-size: 22px;
    }

    #intro {
        margin-top: 50px;
    }

    .fa-hand-holding-dollar:before {
        font-size: 25px;
    }

    .fa-user:before {
        font-size: 25px;
    }

    .fa-gift:before {
        font-size: 25px;
    }

    /* How it works Main */
    #how-it-works-info {
        font-size: 14px;
    }

    #how-it-works-info>div {
        padding: 0 50px;
    }

    .fa-solid.fa-desktop {
        font-size: 25px;
    }

    .fa-solid.fa-door-open {
        font-size: 25px;
    }

    .fa-solid.fa-comments {
        font-size: 25px;
    }

    #discord-visuals {
        margin-top: 60px;
    }

    .fa-solid.fa-handshake {
        font-size: 30px;
        padding-bottom: 25px;
    }

    .fa-solid.fa-house-chimney {
        font-size: 30px;
        padding-bottom: 25px;
    }

    #discord-video h3 {
        padding-bottom: 90px;
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    iframe {
        width: 700px;
        height: 400px;
    }

    #review-photos {
        margin-bottom: 180px;
    }

    /* sign up Main */
    #cover-text2 {
        bottom: 18px;
        left: 15px;
        height: 50px;
        width: 360px;
        padding-left: 10px;
        padding-bottom: 65px;
    }

    #cover-text2 h3 {
        font-size: 40px;
    }

    #sign-up-info h3 {
        font-size: 27px;
        padding-bottom: 60px;
    }

    #sign-up-info p {
        font-size: 22px;
    }

    #sign-up-discord-link p {
        font-size: 40px;
    }

    #sign-up-form form {
        font-size: 25px;
        padding: 30px 50px 50px 50px;
    }

    input {
        font-size: 20px;
    }

    #submit-button {
        font-size: 30px;
    }

    /* feedback form Main */
    #cover-text3 {
        font-size: 58px;
        bottom: 15px;
        height: 80px;
        width: 450px;
        padding-left: 20px;
        padding-bottom: 88px;
    }
}

/* Responsive Design for Large Laptops and larger */
@media screen and (min-width: 1200px) {

    /*Nav Buttons*/
    #sign-up {
        padding: 10px 30px 6px 33px;
        font-size: 17px;
        margin-left: 20px;
    }

    #how-it-works {
        padding: 8px 10px 6px 10px;
        margin-left: 20px;
        font-size: 17px;
    }

    #about {
        padding: 8px 42px 6px 37px;
        font-size: 17px;
    }

    /* Index page Main */
    #about-us-info {
        font-size: 17px;
    }

    #about-us-info>div {
        padding: 0 50px;
    }

    /* How it works Main */
    #how-it-works-info {
        font-size: 17px;
    }

    #how-it-works-info>div {
        padding: 0 50px;
    }

    iframe {
        width: 900px;
        height: 600px;
    }

    #review-photos {
        margin-bottom: 200px;
    }

    /* sign up Main */
    div#sign-up-info {
        padding: 50px 20%;
    }

    /* form feedback main */
    #cover-text3 {
        font-size: 72px;
        bottom: 15px;
        height: 100px;
        width: 600px;
        padding-left: 20px;
        padding-bottom: 104px;
    }
}