/* Google Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Chakra+Petch:wght@300&family=Darker+Grotesque:wght@500&family=Maven+Pro:wght@400;500;600&family=Racing+Sans+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Maven Pro', sans-serif;
}

/* Header */
header {
    background-color: azure
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 300%;
}

/* Main Content */
main {
    background-color: black;
    /* make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: burlywood;
}