/* Google Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Chakra+Petch:wght@300&family=Darker+Grotesque:wght@500&family=Maven+Pro:wght@400;500;600&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Maven Pro', sans-serif;
}

/* Header */
header {
    background-color: rgb(199, 201, 201);
    position: fixed;
    z-index: 99;
    width: 100%;
    height: fit-content;
    border: groove;
    box-shadow: 0 2px 12px 8px #ffffff;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 23px;
    color: black
}

header h3 {
    padding-left: 60px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    font-size: 22px;
}

header>a {
    text-decoration: none;
    color: #3a3a3a;
}

/* Navbar */
nav {
    background-color: rgb(199, 201, 201);
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    list-style-type: none;
    display: none;
    top: 100%;
}

#navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    padding-right: 12px;
    font-size: 40px;
}

#navbar-toggle:checked~nav {
    display: block;
    font-size: 2rem;
}

#about {
    background-color: rgb(23, 63, 109);
    color: #ffffff;
    padding: 3px 35px 3px 30px;
    box-shadow: 2px 2px 2px #3a3a3a;
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 5px;
}

#how-it-works {
    background-color: rgb(110, 42, 42);
    color: #ffffff;
    padding: 3px 8px 3px 10px;
    box-shadow: 2px 2px 2px #3a3a3a;
    margin-left: 55px;
    border-radius: 5px;
}

#sign-up {
    background-color: rgb(37, 77, 29);
    color: #ffffff;
    padding: 3px 26px 3px 27px;
    box-shadow: 2px 2px 2px #3a3a3a;
    margin-left: 55px;
    border-radius: 5px;
}


/* Main Content */
main {
    background-color: rgb(39, 38, 38);
    /* make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 73px;
}

/* Footer */
footer {
    background-color: rgb(199, 201, 201);
}